
<div class="scrollable">
	<div class="scrollable-content">
		<div class="section">

			<div class="panel panel-default">
				<div class="panel-heading" style="text-align: right" >
					{{vm.dateNow}}
				</div>

				<div class="panel-body" style="text-align: right" >
					<label for="area_number">
						<select ng-model="vm.who" id="area_number" type="checkbox"
								ng-options="area.data as area.label for area in vm.scannedSign.areas">
						</select>
						:בחר
					</label>

					<h3>
						<div ng-if="vm.signComment" style="align-content: center">
							{{vm.signComment}}
						</div>
						<div ng-if="!vm.signComment">
							No data available!
						</div>
					</h3>
					<button class="btn btn-primary" ng-click="vm.showPicture = !vm.showPicture">
						<span ng-if="!vm.showPicture">Show sign picture</span>
						<span ng-if="vm.showPicture">Hide sign picture</span>
					</button>
					<div ng-if="vm.scannedSign.pictureUrl && vm.showPicture" class="centered">
						<img src="{{vm.scannedSign.pictureUrl}}" style="max-width:100%; max-height:100%;">
						<!--<button class="btn btn-default" ng-click="vm.showPicture()">show</button>-->
					</div>
				</div>
			</div>

		</div>
	</div>
</div>