
<div class="scrollable">
	<div class="scrollable-content">
		<div class="section">

			<div class="panel panel-default">
				<div class="panel-heading" style="text-align: right" >
					{{vm.dateNow}}
				</div>

				<div class="panel-body" style="text-align: right" >
					<label for="area_number" ng-if="vm.scannedSign.areas.length > 0">
						<select ng-model="vm.who" id="area_number" type="checkbox"
								ng-options="area.data as area.label for area in vm.scannedSign.areas">
						</select>
						:בחר
					</label>

					<div ng-if="vm.signComment">
						<h2 style="text-align: center">
							<b>
								{{vm.signComment}}
							</b>
						</h2>
					</div>
					<div ng-if="!vm.signComment">
						No data available!
					</div>


					<div ng-if="vm.scannedSign.pictureUrl" class="centered">
						<img src="{{vm.scannedSign.pictureUrl}}" style="max-width:100%; max-height:100%;">
						<!--<button class="btn btn-default" ng-click="vm.showPicture()">show</button>-->
					</div>
				</div>
			</div>

		</div>
	</div>
</div>